node_modules
.DS_Store
dist
.vscode/*
!.vscode/extensions.json
logg.todo
npm-debug.log*
yarn-debug.log*
yarn-error.log*
.svelte-kit
static/mcts-trees
src/railroad-ink-solver/target
src/railroad-ink-solver/**/*.rs.bk
src/railroad-ink-solver/Cargo.lock
src/railroad-ink-solver/bin/
src/railroad-ink-solver/!src/bin
src/railroad-ink-solver/pkg/
src/railroad-ink-solver/wasm-pack.log
src/railroad-ink-solver/benches/data
