* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.b4-railroad-think {
  font-family: var(--sans);
  font-size: var(--medium);
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.b4-railroad-think button {
  cursor: pointer;
  text-align: inherit;
  font-family: inherit;
  font-size: inherit;
  background-color: transparent;
  color: inherit;
  border: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.b4-railroad-think h1 {
  font-size: var(--xhuge);
  font-weight: 700;
}

.b4-railroad-think h2 {
  font-size: var(--huge);
  font-weight: 700;
}

.b4-railroad-think h3 {
  font-size: var(--large);
  font-weight: 700;
}

.b4-railroad-think h4 {
  font-size: var(--large);
  font-weight: normal;
}

.b4-railroad-think h5,
.b4-railroad-think h6 {
  font-size: var(--medium);
  font-weight: 700;
}

.b4-railroad-think pre,
.b4-railroad-think code {
  color: var(--gray-shade-3);
  background-color: var(--gray-tint-4);
  border: 1px solid var(--gray-tint-3);
  padding: var(--s-0-5) calc(var(--s-0-5) + 0.1em);
  border-radius: calc(var(--s-0-5) + 0.2em);

  box-decoration-break: clone;
  -webkit-box-decoration-break: clone;
}

.b4-railroad-think pre {
  padding: var(--s-0-5);
}

.b4-railroad-think ul {
  padding-left: 1em;
}

.b4-railroad-think a {
  color: var(--blue-shade-1);
}
